:root {
  --text: #232323;
  --theme: #F8F7FD;
  --theme-light: #FFFFFF;
  --pink: #EDA2C3;
  --purple: #081F3F;
  --radius: .7rem;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  background-color: var(--theme);
  padding: 0 2rem;
  display: block;
  font-weight: 200;
}

img, amp-img {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

img.w-100, amp-img.w-100 {
  width: 100%;
  min-height: 200px;
  min-width: 200px;
}

img[lightbox], amp-img[lightbox] {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.btn {
  cursor: pointer;
  position: relative;
  -webkit-transition: border-color .25s;
  transition: border-color .25s;
}

.btn, .btn:hover, .btn:active, .btn:visited, .btn:focus, .btn:link {
  padding: .5rem 1rem;
  border-radius: 2px;
  color: var(--theme);
  text-transform: uppercase;
  background-color: var(--text);
  font-weight: 400;
  border: 2px solid var(--text);
}

.btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.btn-secondary, .btn-secondary:hover, .btn-secondary:active, .btn-secondary:visited, .btn-secondary:focus, .btn-secondary:link {
  background-color: transparent;
  color: var(--text);
}

.btn b {
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  width: 0;
  z-index: 1;
  background-color: var(--purple);
  overflow: hidden;
  color: var(--text);
  white-space: nowrap;
  font-weight: normal;
  -webkit-transition: width .25s;
  transition: width .25s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn:hover b {
  color: var(--theme-light);
  width: calc(100% + 4px);
}

.btn + .btn {
  margin-left: 1rem;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

h1:not(:first-child), h2:not(:first-child), h3:not(:first-child) {
  margin-top: .5em;
}

.content {
  width: 100%;
}

.flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.fl1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flb50 {
  width: 100%;
}

.mb {
  margin-bottom: 1rem;
}

.my {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx {
  margin-left: 1rem;
  margin-right: 1rem;
}

.py {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px {
  padding-left: 1rem;
  padding-right: 1rem;
}

.w-100 {
  width: 100%;
}

.sub {
  font-size: 90%;
  font-style: italic;
}

.ssub {
  font-size: 80%;
  font-style: italic;
}

.d-block {
  display: block;
}

.indicator {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  margin-right: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-color: var(--theme);
}

.indicator-white {
  background-color: #FFFFFF;
}

.indicator-parent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.indicator-parent > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.indicator-big.indicator {
  height: 5rem;
  width: 5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
}

.indicator-big.indicator img {
  height: 4rem;
  width: 4rem;
}

.indicator .icon {
  font-size: 120%;
}

.indicator img, .indicator amp-img {
  height: 1.8rem;
  display: block;
  width: 1.8rem;
  border-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.shot {
  width: calc(50% - .5rem);
  float: left;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shot:nth-child(2n) {
  margin-left: 1rem;
}

.shot amp-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 160px;
          flex: 0 0 160px;
}

.shot span {
  height: 1.5rem;
  display: block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 1rem;
}

ul.tasks {
  list-style-type: square;
  padding-left: 1.2rem;
}

amp-list {
  margin-top: .5rem;
}

amp-list.with-custom-loader .amp-active {
  width: 2em;
  height: 2em;
  background-color: var(--text);
  margin: 0 auto;
  -webkit-animation: list-loader 1.2s infinite ease-in-out;
          animation: list-loader 1.2s infinite ease-in-out;
}

amp-list.with-custom-loader .amp-active > div {
  display: none;
}

@-webkit-keyframes list-loader {
  0% {
    -webkit-transform: perspective(120px);
            transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg);
            transform: perspective(120px) rotateX(-180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

@keyframes list-loader {
  0% {
    -webkit-transform: perspective(120px);
            transform: perspective(120px);
  }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180deg);
            transform: perspective(120px) rotateX(-180deg);
  }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-180deg);
  }
}

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--theme-light);
  border-radius: var(--radius);
}

.card-content {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.card-bg {
  padding: 10rem 0 3rem 0;
  font-weight: 400;
  background-image: url("/resources/img/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.card-bg h1 {
  background-color: var(--text);
  color: var(--theme-light);
  font-size: 450%;
  padding: 0 .5rem;
  display: inline;
}

.card-bg .clearfix {
  display: block;
}

.card-bg h3 {
  background-color: var(--text);
  color: var(--theme-light);
  font-size: 170%;
  padding: 0 .5rem;
  display: inline-block;
}

.card-half {
  width: calc(50% - .5rem);
}

.card-half-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: -1.5rem;
}

.card-half-list .card {
  margin-top: 2rem;
}

.card-half-list .card:nth-child(2n) {
  margin-left: 1rem;
}

.card + .card {
  margin-top: 2rem;
}

.card-top + .card {
  position: relative;
  top: -7.5rem;
  width: calc(100% - 5rem);
  left: 2.5rem;
  margin-bottom: -5rem;
}

.container {
  padding: 1rem;
}

.icon, .icon:before {
  width: 1em;
  height: 1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

a, a:hover, a:focus, a:active, a:visited, a:link {
  text-decoration: none;
  color: var(--text);
}

nav.card, footer.card {
  height: 4rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-link {
  height: 4rem;
  min-width: 4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav-link a {
  height: 100%;
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color .25s;
  transition: color .25s;
}

.nav-link i {
  position: relative;
  z-index: 2;
  -webkit-transition: -webkit-transform .25s;
  transition: -webkit-transform .25s;
  transition: transform .25s;
  transition: transform .25s, -webkit-transform .25s;
}

.nav-link b {
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  -webkit-transition: height .25s;
  transition: height .25s;
  z-index: 0;
}

.nav-link:hover b {
  height: 100%;
}

.nav-link:hover a {
  color: var(--theme-light);
}

.nav-placeholder {
  display: block;
  width: 100%;
  height: 8rem;
}

.nav-container {
  width: calc(100% - 4rem);
  background-color: var(--theme);
  padding: 2rem 0 1rem 0;
  display: block;
  position: fixed;
  margin-bottom: 1rem;
  z-index: 3;
}

.nav-container nav {
  font-size: 120%;
}

.nav-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer {
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.item-top {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.item h1, .item h2 {
  margin-bottom: 0;
}

.item .square {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
}

.item-data {
  margin: 0 1rem;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.item-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 5 1rem;
          flex: 1 5 1rem;
}

.square {
  height: 5rem;
  width: 5rem;
  display: block;
  position: relative;
  margin: 1rem 0 .5rem 0;
  border-radius: var(--radius);
}

.square-main {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  font-size: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  color: var(--theme-light);
}

.square:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4rem;
  width: 4rem;
  background-color: var(--theme);
}

header .card-content:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .card-content:first-child i {
  font-size: 300%;
  padding-right: 2rem;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.project .square {
  margin-right: 1rem;
}

.project-mobile {
  margin: 5rem 2rem 5rem 0;
  max-width: 25rem;
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000;
}

.project-mobile #phone {
  border-radius: 1rem;
  overflow: hidden;
  border: 3px solid transparent;
  outline: 1px solid transparent;
  background-color: #FFFFFF;
}

.project-mobile #phone amp-img {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.project-detail {
  display: block;
}

.project-detail-header a, .project-detail-header a:hover, .project-detail-header a:focus, .project-detail-header a:visited, .project-detail-header a:link, .project-detail-header a:active {
  text-decoration: underline;
}

.project-detail amp-img.fl1 {
  margin: 0 auto;
  max-width: 50%;
}

.project-detail ul {
  list-style-type: square;
  padding-left: 1rem;
}

.chip {
  margin-right: 1rem;
  white-space: nowrap;
  background-color: var(--theme);
  padding: .2rem .5rem;
  border-radius: 2px;
  font-size: 85%;
  margin-top: .5rem;
  display: inline-block;
}

.chip i {
  display: inline-block;
}

.chip i:first-child {
  margin-right: .5rem;
}

.chip i:last-child {
  margin-left: .5rem;
}

form fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

form #token-container {
  display: block;
  overflow: hidden;
  max-height: 1px;
}

form .form-message {
  margin: .5rem 0;
  font-size: 120%;
  text-align: center;
}

form .form-message--error .chip {
  background-color: #FF7777;
}

form .form-message--success .chip {
  background-color: #44AA44;
}

form .input-container, form .textarea-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .input-container textarea, form .textarea-container textarea {
  resize: none;
}

form .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form .input-container {
  position: relative;
  padding-top: 1.5rem;
}

form .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top .5s, color .5s, left .5s;
  transition: top .5s, color .5s, left .5s;
}

form .input-container input:invalid:not(:focus) + label {
  top: 1.9rem;
  left: 1rem;
  color: var(--text);
}

form .input-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-right: 0;
}

form .textarea-container {
  margin-top: .5rem;
  position: relative;
  padding-top: 1.5rem;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  margin-top: 0;
}

form .textarea-container label {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: top .25s, color .25s, left .25s;
  transition: top .25s, color .25s, left .25s;
}

form .textarea-container textarea:invalid:not(:focus) + label {
  top: 1.9rem;
  left: 1rem;
  color: var(--text);
}

form input#email, form input#name, form textarea {
  border-radius: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: .5rem;
  border: 0;
  font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 1199px) {
  .card-half {
    width: 100%;
  }
  .card-half-list .card:nth-child(2n) {
    margin-left: 0;
  }
  .shot {
    width: 100%;
    margin-bottom: 10px;
  }
  .shot amp-img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
    max-height: 60px;
  }
  .shot:nth-child(2n) {
    margin-left: 0;
  }
}

@media screen and (max-width: 699px) {
  body {
    padding: 0 .5rem;
  }
  form .input-line {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  form .input-container:first-child, form .input-container:last-child {
    margin-left: 0;
    margin-right: 0;
  }
  form .input-container + .input-container {
    margin-top: .5rem;
  }
  .nav-container {
    width: calc(100% - 1rem);
  }
  .nav-title {
    display: none;
  }
  .project-mobile {
    margin: 0;
    max-width: 100%;
  }
  .project-mobile #phone {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  .project-detail amp-img.fl1 {
    max-width: 100%;
  }
  .card-bg h1 {
    font-size: 300%;
  }
  .card-content {
    padding: .5rem;
  }
  .square,
  .item .square {
    height: 3rem;
    width: 3rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 3rem;
            flex: 0 0 3rem;
    margin: .5rem 0 .2rem 0;
  }
  .square-main,
  .item .square-main {
    height: 2.5rem;
    width: 2.5rem;
    font-size: 130%;
  }
  .square:before,
  .item .square:before {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media screen and (min-width: 800px) {
  form .inputs {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  form .inputs .input-line {
    margin-right: 1rem;
  }
  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flb50 {
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */