:root {
  --text: #E4E4E4;
  --theme: #181818;
  --theme-light: #232323;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  background-color: var(--theme);
  padding: 2rem;
  display: block;
  font-weight: 200;
}

img, amp-img {
  max-width: 100%;
  display: block;
  -o-object-fit: contain;
     object-fit: contain;
}

img.w-100, amp-img.w-100 {
  min-height: 200px;
  min-width: 200px;
}

img[lightbox], amp-img[lightbox] {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 100;
}

h1, h2 {
  margin-bottom: .5em;
}

.content {
  width: 100%;
}

.flex-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-wrap-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.center-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.fl1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.flb50 {
  width: 100%;
}

.mb {
  margin-bottom: 1rem;
}

.my {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx {
  margin-left: 1rem;
  margin-right: 1rem;
}

.py {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px {
  padding-left: 1rem;
  padding-right: 1rem;
}

.w-100 {
  width: 100%;
}

.sub {
  font-size: 90%;
  font-style: italic;
}

.ssub {
  font-size: 85%;
  font-style: italic;
}

.d-block {
  display: block;
}

.indicator {
  height: 2.5rem;
  width: 2.5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.5rem;
          flex: 0 0 2.5rem;
  margin-right: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  background-color: var(--theme);
}

.indicator-white {
  background-color: #FFFFFF;
}

.indicator-parent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.indicator-parent > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.indicator-big.indicator {
  height: 5rem;
  width: 5rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
}

.indicator-big.indicator img {
  height: 4rem;
  width: 4rem;
}

.indicator .icon {
  font-size: 120%;
}

.indicator img, .indicator amp-img {
  height: 1.8rem;
  display: block;
  width: 1.8rem;
  border-radius: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: var(--theme-light);
}

.card-content {
  padding: 2rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
}

.card-half {
  width: calc(50% - .5rem);
}

.card-half-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  margin-top: -2rem;
}

.card-half-list .card {
  margin-top: 2rem;
}

.card-half-list .card:nth-child(2n) {
  margin-left: 1rem;
}

.card + .card {
  margin-top: 2rem;
}

.container {
  padding: 1rem;
}

.icon, .icon:before {
  width: 1em;
  height: 1em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

a, a:hover, a:focus, a:active, a:visited, a:link {
  text-decoration: none;
  color: var(--text);
}

nav.card, footer.card {
  height: 4rem;
  width: 100%;
  padding: 0 1.5rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  font-size: 120%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

nav ul li a {
  height: 1rem;
  margin-left: 1.5rem;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.item h1, .item h2 {
  margin-bottom: 0;
}

.item .square {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5rem;
          flex: 0 0 5rem;
}

.item-data {
  margin: 0 1rem;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
}

.item-action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 5 1rem;
          flex: 1 5 1rem;
}

.square {
  height: 5rem;
  width: 5rem;
  display: block;
  position: relative;
  margin: 1rem 0 .5rem 0;
}

.square-main {
  position: absolute;
  top: 0;
  left: 0;
  height: 4rem;
  width: 4rem;
  font-size: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.square:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  height: 4rem;
  width: 4rem;
  background-color: var(--text);
}

header .card-content:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .card-content:first-child i {
  font-size: 300%;
  padding-right: 2rem;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.project-mobile {
  margin: 5rem 2rem 5rem 0;
  max-width: 25rem;
  display: block;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  perspective: 1000px;
  -webkit-perspective: 1000;
}

.project-mobile #phone {
  border-radius: 1rem;
  overflow: hidden;
  border: 3px solid transparent;
  outline: 1px solid transparent;
  -webkit-transform: translateZ(0) rotateY(20deg);
          transform: translateZ(0) rotateY(20deg);
  -webkit-transform-origin: 50% 75%;
          transform-origin: 50% 75%;
  background-color: #FFFFFF;
}

.project-mobile #phone amp-img {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.project-detail {
  display: block;
}

.project-detail-header .chip {
  margin-right: 1rem;
  white-space: nowrap;
}

.project-detail-header .chip i {
  display: inline-block;
  padding: 0 .5rem;
}

.project-detail-header a, .project-detail-header a:hover, .project-detail-header a:focus, .project-detail-header a:visited, .project-detail-header a:link, .project-detail-header a:active {
  text-decoration: underline;
}

.project-detail amp-img.fl1 {
  margin: 0 auto;
  max-width: 50%;
}

.project-detail ul {
  list-style-type: square;
  padding-left: 1rem;
}

@media screen and (max-width: 850px) {
  .card-half {
    width: 100%;
  }
  .card-half-list .card:nth-child(2n) {
    margin-left: 0;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: .5rem;
  }
  .project-mobile {
    margin: 0;
    max-width: 100%;
  }
  .project-mobile #phone {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  .project-detail amp-img.fl1 {
    max-width: 100%;
  }
  .card-content {
    padding: .5rem;
  }
}

@media screen and (min-width: 800px) {
  .flex-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .project-detail {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .flb50 {
    width: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */