:root {
  --text: #E4E4E4;
  --theme: #181818;
  --theme-light: #232323;
  --pink: #EDA2C3;
  --purple: #081F3F;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  background-color: var(--theme);
  padding: 0 2rem;
  display: block;
  font-weight: 200;
}

img, amp-img {
  max-width: 100%;
  display: block;
  object-fit: contain;
  
  &.w-100 {
    width: 100%;
    min-height: 200px;
    min-width: 200px;
  }

  &[lightbox] {
    cursor: zoom-in;
  }
}

.btn {
  cursor: pointer;
  position: relative;
  transition: border-color .25s;

  &, &:hover, &:active, &:visited, &:focus, &:link {
    padding: .5rem 1rem;
    border-radius: 2px;
    color: var(--theme);
    text-transform: uppercase;
    background-color: var(--text);
    font-weight: 400;
    border: 2px solid var(--text);
  }

  &-container {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 1rem;
  }

  &-secondary {
    &, &:hover, &:active, &:visited, &:focus, &:link {
      background-color: transparent;
      color: var(--text);
    }
  }

  b {
    position: absolute;
    top: 0;
    left: -2px;
    height: 100%;
    width: 0;
    z-index: 1;
    background-color: var(--purple);
    overflow: hidden;
    color: var(--text);
    white-space: nowrap;
    font-weight: normal;
    transition: width .25s;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  &:hover {
    b {
      width: calc(100% + 4px);
    }
  }

  & + .btn {
    margin-left: 1rem;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

h1, h2, h3 {
  &:not(:first-child) {
    margin-top: .5em;
  }
}

.content {
  width: 100%;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-wrap-container {
  width: 100%;
  display: flex;
  flex-flow: wrap;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fl1 {
  flex: 1;
}

.flb50 {
  width: 100%;
}

.mb {
  margin-bottom: 1rem;
}

.my {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.mx {
  margin-left: 1rem;
  margin-right: 1rem;
}

.py {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.px {
  padding-left: 1rem;
  padding-right: 1rem;
}

.w-100 {
  width: 100%;
}

.sub {
  font-size: 90%;
  font-style: italic;
}

.ssub {
  font-size: 80%;
  font-style: italic;
}

.d-block {
  display: block;
}

.indicator {
  height: 2.5rem;
  width: 2.5rem;
  flex: 0 0 2.5rem;
  margin-right: 1rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-color: var(--theme);

  &-white {
    background-color: #FFFFFF;
  }

  &-parent {
    width: 100%;
    display: flex;
    flex-direction: row;

    & > div {
      flex: 1;
    }
  }

  &-big.indicator {
    height: 5rem;
    width: 5rem;
    flex: 0 0 5rem;

    img {
      height: 4rem;
      width: 4rem;
    }
  }

  .icon {
    font-size: 120%;
  }

  img, amp-img {
    height: 1.8rem;
    display: block;
    width: 1.8rem;
    border-radius: 0;
    object-fit: cover;
  }
}

.shot {
  width: calc(50% - .5rem);
  float: left;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;

  &:nth-child(2n) {
    margin-left: 1rem;
  }

  amp-img {
    flex: 0 0 160px;
  }

  span {
    height: 1.5rem;
    display: block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex: 1;
    padding-left: 1rem;
  }
}

ul.tasks {
  list-style-type: square;
  padding-left: 1.2rem;
}

amp-list {
  margin-top: .5rem;

  &.with-custom-loader .amp-active {
    width: 2em;
    height: 2em;
    background-color: var(--text);
  
    margin: 0 auto;
    animation: list-loader 1.2s infinite ease-in-out;

    & > div {
      display: none;
    }
  }
}

@keyframes list-loader {
  0% { transform: perspective(120px); }
  50% { transform: perspective(120px) rotateX(-180deg); }
  100% { transform: perspective(120px) rotateX(-180deg) rotateY(-180deg); }
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: var(--theme-light);

  &-content {
    padding: 2rem;
    flex: 1;
    height: 100%;
    box-sizing: border-box;
    display: block;
  }
  
  &-bg {
    padding: 10rem 0 3rem 0;
    font-weight: 400;
    background-image: url('/resources/img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    h1 {
      background-color: var(--text);
      color: var(--theme-light);
      font-size: 450%;
      padding: 0 .5rem;
      display: inline;
    }

    .clearfix {
      display: block;
    }

    h3 {
      background-color: var(--text);
      color: var(--theme-light);
      font-size: 170%;
      padding: 0 .5rem;
      display: inline-block;
    }
  }

  &-half {
    width: calc(50% - .5rem);

    &-list {
      display: flex;
      flex-flow: wrap;
      margin-top: -1.5rem;

      .card {
        margin-top: 2rem;

        &:nth-child(2n) {
          margin-left: 1rem;
        }
      }
    }
  }

  & + .card {
    margin-top: 2rem;
  }

  &-top + .card {
    position: relative;
    top: -7.5rem;
    width: calc(100% - 5rem);
    left: 2.5rem;
    margin-bottom: -5rem;
  }
}

.container {
  padding: 1rem;
}

.icon, .icon:before {
  width: 1em;
  height: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

a, a:hover, a:focus, a:active, a:visited, a:link {
  text-decoration: none;
  color: var(--text);
}

nav.card, footer.card {
  height: 4rem;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav {

  &-title {
    flex: 1;
  }

  &-link {
    height: 4rem;
    min-width: 4rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;

    a {
      height: 100%;
      width: 100%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }

    i {
      position: relative;
      z-index: 2;
      transition: transform .25s;
    }

    b {
      position: absolute;
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      transition: height .25s;
      z-index: 0;
    }

    &:hover {
      b {
        height: 100%;
      }
    }
  }

  &-placeholder {
    display: block;
    width: 100%;
    height: 8rem;
  }

  &-container {
    width: calc(100% - 4rem);
    padding: 2rem 0 1rem 0;
    background-color: var(--theme);
    display: block;
    position: fixed;
    margin-bottom: 1rem;
    z-index: 3;
  
    nav {
      font-size: 120%;
    
      ul {
        display: flex;
        flex-direction: row;
      }
    }
  }
}

footer {
  margin-bottom: 2rem;
  padding: 0 1.5rem;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 1;

  &-top {
    align-items: flex-start;
  }

  h1, h2 {
    margin-bottom: 0;
  }

  .square {
    flex: 0 0 5rem;
  }

  &-data {
    margin: 0 1rem;
    flex: 5;
  }

  &-action {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 5 1rem;
  }
}

.square {
  height: 5rem;
  width: 5rem;
  display: block;
  position: relative;
  margin: 1rem 0 .5rem 0;

  &-main {
    position: absolute;
    top: 0;
    left: 0;
    height: 4rem;
    width: 4rem;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }

  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    background-color: var(--text);
  }
}

header .card-content:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;

  i {
    font-size: 300%;
    padding-right: 2rem;
  }
}

.projects {
  display: flex;
  flex-flow: wrap;
}

.project {

  .square {
    margin-right: 1rem;
  }

  &-mobile {
    margin: 5rem 2rem 5rem 0;
    max-width: 25rem;
    display: block;
    transform-style: preserve-3d;
    perspective: 1000px;
    -webkit-perspective: 1000;
  
    #phone {
      border-radius: 1rem;
      overflow: hidden;
      border: 3px solid transparent;
      outline: 1px solid transparent;
      background-color: #FFFFFF;
  
      amp-img {
        transition: transform .5s;
      }
    }
  }

  &-detail {
    display: block;

    &-header {
      a, a:hover, a:focus, a:visited, a:link, a:active {
        text-decoration: underline;
      }
    }
  
    amp-img.fl1 {
      margin: 0 auto;
      max-width: 50%;
    }
  
    ul {
      list-style-type: square;
      padding-left: 1rem;
    }
  }
}

.chip {
  margin-right: 1rem;
  white-space: nowrap;
  background-color: var(--theme);
  padding: .2rem .5rem;
  border-radius: 2px;
  font-size: 85%;
  margin-top: .5rem;
  display: inline-block;

  i {
    display: inline-block;

    &:first-child {
      margin-right: .5rem;
    }

    &:last-child {
      margin-left: .5rem;
    }
  }
}

form {
  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  #token-container {
    display: block;
    overflow: hidden;
    max-height: 1px;
  }

  .form-message {
    margin: .5rem 0;
    font-size: 120%;
    text-align: center;

    &--error .chip {
      background-color: #FF7777;
    }

    &--success .chip {
      background-color: #44AA44;
    }
  }

  .input, .textarea {
    &-container {
      display: flex;
      flex-direction: column;

      textarea {
        resize: none;
      }
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;
  }

  .input {
    &-container {
      position: relative;
      padding-top: 1.5rem;

      label {
        position: absolute;
        top: 0;
        left: 0;
        transition: top .5s, color .5s, left .5s;;
      }

      input:invalid:not(:focus) {
        & + label {
          top: 1.9rem;
          left: 1rem;
          color: var(--theme);
        }
      }
    }

    &-line {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: flex-start;
      margin-right: 0;
    }
  }

  .textarea-container {
    margin-top: .5rem;
    position: relative;
    padding-top: 1.5rem;
    flex: 2;
    margin-top: 0;

    label {
      position: absolute;
      top: 0;
      left: 0;
      transition: top .25s, color .25s, left .25s;
    }

    textarea:invalid:not(:focus) {
      & + label {
        top: 1.9rem;
        left: 1rem;
        color: var(--theme);
      }
    }
  }

  input#email, input#name, textarea {
    border-radius: 2px;
    flex: 1;
    padding: .5rem;
    border: 0;
    font-family: 'Poppins', sans-serif;
  }
}

@media screen and (max-width: 1199px) {
  .card {

    &-half {
      width: 100%;

      &-list {

        .card {

          &:nth-child(2n) {
            margin-left: 0;
          }
        }
      }
    }
  }
  
  .shot {
    width: 100%;
    margin-bottom: 10px;

    amp-img {
      flex: 0 0 80px;
      max-height: 60px;
    }

    &:nth-child(2n) {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 699px) {
  body {
    padding: 0 .5rem;
  }

  form {
    .input {
      &-line {
        flex-direction: column;
      }

      &-container {

        &:first-child, &:last-child {
          margin-left: 0;
          margin-right: 0;
        }

        & + .input-container {
          margin-top: .5rem;
        }
      }
    }
  }

  .nav {
    &-container {
      width: calc(100% - 1rem);
    }

    &-title {
      display: none;
    }
  }

  .project {

    &-mobile {
      margin: 0;
      max-width: 100%;
  
      #phone {
        transform: rotateX(0deg);
      }
    }

    &-detail amp-img.fl1 {
      max-width: 100%;
    }
  }

  .card {

    &-bg {
      h1 {
        font-size: 300%;
      }
    }

    &-content {
      padding: .5rem;
    }
  }

  .square,
  .item .square {
    height: 3rem;
    width: 3rem;
    flex: 0 0 3rem;
    margin: .5rem 0 .2rem 0;
  
    &-main {
      height: 2.5rem;
      width: 2.5rem;
      font-size: 130%;
    }
  
    &:before {
      height: 2.5rem;
      width: 2.5rem;
    }
  }
}


@media screen and (min-width: 800px) {
  form .inputs {
    flex-direction: row;

    .input-line {
      margin-right: 1rem;
    }
  }

  .flex-container {
    flex-direction: row;
  }

  .project-detail {
    flex-direction: row;
  }

  .flb50 { width: 50%; }
}

