extends components/layout.pug

block navLink
  a.nav-link(href='/')
    i(class=data.profile.icon)

block content
  .card.card-bg
    .card-content
      h1 Give your company the website it deserves.
      .clearfix
      h3 I'm here to bring tangible, smart and creative web solutions.
  header.card
    .card-content
      i.icon.icon-bc
      p= data.profile.headline
    .card-content
      h1 Expertise
      ul.card-half-list
        each expertise in data.expertise
          +expertise(expertise)
      .btn-container
        a.btn(href='/more.html') More about me
  .projects.card
    .card-content
      h1 Products &amp; Projects
      ul.card-half-list
        each project in data.projects
          +project(project)
  .shots.card
    .card-content
      h1 Last Shots
      amp-list.with-custom-loader(width='auto', items='.', height= '100', layout='fixed-height', reset-on-refresh, binding='no', src='https://api.dribbble.com/v2/user/shots?access_token=3b674db39de5dba6b392837b2ab586170326d8c3b8a626bb97388ba67fd90158')
        +shot()
