extends components/layout.pug

block content
  header.card
    .card-content
      i.icon.icon-bc
      p= data.profile.resume
    .card-content
      h1 Expertise
      ul.card-half-list
        each expertise in data.expertise
          +expertise(expertise)
  .projects.card
    .card-content
      h1 Products &amp; Projects
      ul.card-half-list
        each project in data.projects
          +project(project)
