.nav-container
  nav.card
    block navLink
      a.nav-link(href='/')
        i.icon.icon-chevron-left
    .nav-title
      block pageTitle
        span Bertrand Choubert's Portfolio
    ul
      each network in data.networks
        +network(network)
.nav-placeholder